* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  color: #eee;
  line-height: 1.5;
  font-size: 1.2rem;
}

.bg {
  background-image: url(/assets/images/mountain.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

form {
  margin-top: 150px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  width: 30rem;
  padding: 25px;
  border-top-right-radius: 8px;
}

input,
.submit-button {
  background-color: #eee;
  border: none;
  border-radius: 3px;
}

.submit-button {
  width: 25px;
  display: grid;
  cursor: pointer;
}

.form-content {
  display: flex;
  height: 25px;
  gap: 3px;
  margin-left: 50px;
}

main {
  display: flex;
  justify-content: space-between;
}

.temp-container {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.65);
  width: 18rem;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp {
  font-size: 1.5rem;
  margin-left: 25%;
}

.temp-button {
  font-weight: bold;
  font-size: 1.5rem;
  border-top-right-radius: 8px;
  background-color: rgba(254, 162, 2, 0.998);
  border: none;
  padding: 10px;
  border: 3px solid rgba(0, 0, 0, 0.65);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}

.feels-like {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.65);
  width: 15rem;
  border-top-right-radius: 8px;
  padding: 10px;
  padding-left: 25px;
}

.location {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.65);
  width: 50rem;
  border-top-left-radius: 8px;
  padding: 25px;
  padding-left: 25px;
  font-size: 2rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.condition {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.65);
  width: 30rem;
  border-top-left-radius: 8px;
  padding: 5px 0 5px 15px;
  font-size: 2rem;
}

.condition-icon {
  width: auto;
  margin-right: 100px;
}

.wind-speed,
.humidity {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.65);
  width: 20rem;
  border-top-left-radius: 8px;
  padding: 5px 0 5px 15px;
  font-size: 1.5rem;
}
